.detailsContainer {
  display: flex;
}
.detailsContainerInfo {
  margin-left: 20px;
  padding: 30px;
}
.detailsTitle {
  margin-bottom: 40px;
}
.detailsOverview {
  margin-bottom: 35px;
  max-width: 730px;
}

span {
  margin-bottom: 20px;
  display: block;
}

.detailsImg {
  padding: 30px;
}

.NavLinkItem {
  margin-bottom: 20px;
}

.NavLink {
  color: black;
  text-transform: uppercase;
  width: 150px;
  font-weight: 700;
  text-decoration: none;

  margin-bottom: 20px;
  text-decoration: revert;
}

.NavLink__Active {
  color: rgb(56, 244, 181);
}

.AddInfo {
  margin-left: 40px;
}
