.trendingMovie {
  text-align: center;
}

.trendingMovieList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 40px;
  max-width: 1280px;
}
.trendingMovieCard {
  width: 270px;
  text-align: center;
  padding-bottom: 60px;
}

.trendingMovieCard:hover {
  /* -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1); */
  transform: scale(1.1);
}

.trendingMovieImg {
  max-width: 100%;
}

.trendingMovieTitle {
  color: black;
  margin-top: 20px;
}
